body {
  background: rgb(34, 193, 195);
  background: linear-gradient( 0deg, rgba(34, 193, 195, 1) 58%,rgba(253, 187, 45, 1) 99% );
  background-attachment: fixed;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#form {
  width: 400px;
  margin: 20vh auto 0 auto;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 30px;
}
h1 {
  /*Header line*/
  text-align: center;
  color: rgba(253, 187, 45, 1);
}
#form button {
  background-color: rgb(17, 3, 146);
  color: white;
  border-radius: 5px;
  border: 1px solid rgb(17, 3, 146);
  padding: 10px;
  margin: 10px 10px;
  cursor: pointer;
  font-size: 15px;
  width: 100%;
}
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.input-group input {
  border-radius: 5px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid skyblue;
}
.input-group input:focus {
  outline: 0;
}
.input-group .error {
  color: red;
  font-size: 10px;
  margin-top: 5px;
}
.input-group.success input {
  border-color: rgb(19, 226, 19);
}
.input-group.error input {
  border-color: rgb(252, 11, 11);
}
